body{
    background-color: gray;
}
#container{
    display: flex;
    height: 143px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    /* border: 1px solid red; */
}
h2{
    color: white;
    font-size: 50px;
    text-align: center;
}
#number{
    height: 25px;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: yellow;
}
#increament , #decreament{
    height: 46px;
    width: 92px;
    margin-top: 50px;
    margin-bottom: 125px;
    background-color: yellow;
    font-size: 30px;
}